<h1>Voici la liste des restaurants</h1>
<div class="m-3">
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>

  <p><%= link_to "Create a new restaurant", new_restaurant_path %></p>
</div>
